:root{
    --main-color: rgb(31, 31, 31);
    --main-font: rgb(240, 240, 240);
    --button: linear-gradient(60deg,rgb(137, 243, 185),rgb(1, 153, 52));
    --container-color: rgb(238, 238, 238);
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-color);
    color: var(--main-font);
}
.form{
    visibility:hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(2px);
}
.form form{
    width: 300px;
    margin: 30vh auto;
    background-color: var(--main-color);
    position: absolute;
    left:0;
    right:0;
    
}
.form div label{
    display: inline-block;
    width: 120px;
    text-align: left;
}
.form div{
    margin: 5px 10px;
}
ul{
    list-style: none;
    padding: 0px;
}
li{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
li input{
    width: auto;
    margin-left: 0px;
}
li #checkbox{
    width: auto;
}
h1,h2{
    text-align: center;
}
.information{
    display: flex;
}
.contenue{
    width: 80%;
    min-width: 300px;
    margin: 0px auto;
}
.contenue div p:last-child{
    margin-left: auto;
}
.ajout-livre{
    text-align: center;
    
}
.ajout-livre button{
    background: var(--button);
}
.container{
    color: black;
    width: 100%;
    height: 200px;
    margin: 10px auto;
    background-color: var(--container-color);
    font-weight: 550;
}
.container p{
    margin-left: 10px;
}
.container p:first-of-type{
    margin-top: 35px;
}
.display-de-la-liste{
    width: 80%;
    margin: 0px auto;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.ajout-livre button{
    width: 80%;
    min-width: 300px;
    height: 50px;
}
#add{
    background: var(--button);
    height: 30px;
}
.ferme{
    font-size: 1.5rem;
    color: white;
    background: none;
    outline: none;
    border: none;
}
@media only screen and (min-width: 800px) {

    .display-de-la-liste{
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0px auto;
    }

}
@media only screen and (min-width: 1200px) {

    .display-de-la-liste{
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    header{
        margin: 0px auto;
        width: 88%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header h1{
        margin: auto 0px;
    }
    .container{
        margin-left: 0px;
        width: 100%;
    }
}