.form{
    visibility:hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(2px);
}
.form form{
    width: 300px;
    margin: 30vh auto;
    background-color: rgb(224, 224, 224);
    position: absolute;
    left:0;
    right:0;
    
}
.form div label{
    display: inline-block;
    width: 120px;
    text-align: left;
}
.form div{
    margin: 5px 10px;
}
ul{
    list-style: none;
    padding: 0px;
}
li{
    display: flex;
    flex-direction: column;
}
li input{
    width: auto;
    margin-left: 0px;
}
li #checkbox{
    width: auto;
}
h1,h2{
    text-align: center;
}
.information{
    display: flex;
}
.contenue{
    width: 80%;
    min-width: 300px;
    margin: 0px auto;
}
.contenue div p:last-child{
    margin-left: auto;
}
.ajout-livre{
    text-align: center;
}
.container{
    width: 100%;
    height: 200px;
    margin: 10px auto;
    background-color: grey;
}
.display-de-la-liste{
    width: 80%;
    margin: 0px auto;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.ajout-livre button{
    width: 80%;
    min-width: 300px;
    height: 50px;
}
@media only screen and (min-width: 800px) {

    .display-de-la-liste{
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0px auto;
    }

}
@media only screen and (min-width: 1200px) {

    .display-de-la-liste{
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    header{
        margin: 0px auto;
        width: 88%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header h1{
        margin: auto 0px;
    }
    .container{
        margin-left: 0px;
        width: 100%;
    }
}